/*
    FONTS
*/
@font-face {
    font-family: 'AlternateGothic';
    src: url('Fonts/ufonts.com_alternate_gothic_no1-webfont.eot');
    src: url('Fonts/ufonts.com_alternate_gothic_no1-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/ufonts.com_alternate_gothic_no1-webfont.woff2') format('woff2'),
         url('Fonts/ufonts.com_alternate_gothic_no1-webfont.woff') format('woff'),
         url('Fonts/ufonts.com_alternate_gothic_no1-webfont.ttf') format('truetype'),
         url('Fonts/ufonts.com_alternate_gothic_no1-webfont.svg#AlternateGothic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'HarmoniaSans';
  src:  url('Fonts/HarmoniaSansStd-Regular.otf')  format('opentype'),
        url('Fonts/HarmoniaSansStd-Regular.ttf')  format('truetype'), 
        url('Fonts/HarmoniaSansStd-Regular.eot') format('embedded-opentype'),
        url('Fonts/HarmoniaSansStd-Regular.svg#HarmoniaSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font0{ font-family: 'AlternateGothic', sans-serif; font-size: 36px; }
.font1{ font-family: 'HarmoniaSans', sans-serif; }
/*
    CLASSES GENERIQUES
*/
h2
{
    font-size: 32px;
    letter-spacing: 1px;
}
.outline{outline: none;}
*:focus{ outline: none; }
.box-sizing
{
    -moz-box-sizing:padding-box;
    -webkit-box-sizing:padding-box;
    -o-box-sizing:padding-box;
    box-sizing:padding-box;
}
.inline
{
    display: inline;
    zoom: 1;
    float: left;
}
.inline-block
{
    display: inline-block;
    zoom: 1;
}
body
{
    font-family: 'HarmoniaSans', sans-serif;
    font-size: 16px;
    color: #ffffff;
}
strong{font-weight: 700;}
ul{ padding: 0; }
li{ list-style: none; }
.color-black{color: #000; }
strong.extrabold{ font-weight: 900; }
.lighter{ font-weight: 300; }
.light{ font-weight: 500; }
.lowercase{ text-transform: lowercase !important; }
.uppercase{ text-transform: uppercase !important; }
.italic{ font-style: italic;}
.center{ text-align: center; }
a:hover{ text-decoration: none; color: inherit; }
a{ color: inherit; }
p a{ color: #990000; }
p a:hover{ color: #990000; border-bottom: 1px solid #990000; padding-bottom: 2px; }
.clear{float: none; clear: both;}
.border-right{border-right: 1px solid #FFF;}
.relative{position: relative !important;}
.absolute{position: absolute !important;}
.removeAppearence
{
    appearance: none;
    -moz-appearance :none;
    -webkit-appearance: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.img-responsive-container img{ width: 100%; }
.no-opacity{ opacity: 0 !important; }
.no-padding-top{ padding-top: 0 !important; }
.no-padding-bottom{ padding-bottom: 0 !important; }
.no-padding-left{ padding-left: 0 !important; }
.no-padding-right{ padding-right: 0 !important; }
.no-padding-x{ padding-left: 0 !important; padding-right: 0 !important; }
.no-padding-y{ padding-top: 0 !important; padding-bottom: 0 !important; }
.no-padding{ padding: 0 !important; }
.high-padding-y{ padding: 100px 0 !important; }
.no-margin-top{ margin-top: 0 !important; }
.no-margin-top-no-import{ margin-top: 0; }
.no-margin-bottom{ margin-bottom: 0 !important; }
.no-margin-left{ margin-left: 0 !important; }
.no-margin-right{ margin-right: 0 !important; }
.no-margin-x{ margin-left: 0 !important; margin-right: 0 !important; }
.no-margin-y{ margin-top: 0 !important; margin-bottom: 0 !important; }
.no-margin{ margin: 0 !important; }
.margin{ margin: 20px !important; }
.margin-x{ margin-left: 20px !important; margin-right: 20px !important; }
.small-margin-y{ margin-top: 10px !important; margin-bottom: 10px !important; }
.margin-y{ margin-top: 20px !important; margin-bottom: 20px !important; }
.large-margin-y{ margin-top: 30px !important; margin-bottom: 30px !important; }
.margin-top{ margin-top: 20px !important; }
.margin-bottom{ margin-bottom: 20px !important; }
.margin-left{ margin-left: 20px !important; }
.margin-right{ margin-right: 20px !important; }
.padding{ padding: 24px; }
.padding-x{ padding-left: 24px; padding-right: 24px; }
.padding-y{ padding-top: 24px; padding-bottom: 24px; }
.padding-top{ padding-top: 24px; }
.small-padding-top{ padding-top: 10px; }
.padding-bottom{ padding-bottom: 24px; }
.padding-left{ padding-left: 24px; }
.padding-right{ padding-right: 24px; }
.bigger-size{ font-size: 18px !important; }
.big-size{ font-size: 16px !important; }
.normal-size{ font-size: 14px !important; }
.small-size{ font-size: 12px !important; }
.smaller-size{ font-size: 10px !important; }
.no-border{ border: none !important; }
.no-border-right{ border-right: none !important; }
.no-background{ background: transparent !important; }
.underline{ text-decoration: underline; }
.text-indent{ text-indent: -9999px; display: block; }
*.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;   
   -ms-user-select: none;
   user-select: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000000;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000000;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000000;
}
.form-input
{
    width: 100%;
    background: #000;
    border: 2px solid #fff;
    color: #fff;
    height: 50px;
    margin-bottom: 16px;
    font-size: 24px;
    padding: 0 18px;
}
.form-input[type="submit"]:hover{ background: rgb(43, 42, 42); }    
.jLabel-label
{
    top: 8px !important;
    left: 18px !important;
    letter-spacing: 1px !important;
    color: rgba(255, 255, 255, 0.63) !important;
}
.letter-spacing-1{ letter-spacing: 1px !important; }
.letter-spacing-2{ letter-spacing: 2px !important; }
.letter-spacing-3{ letter-spacing: 3px !important; }

.center-img{ margin: auto; }
.justify{ text-align: justify; }
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
.col-md-centered{
    float: none;
    margin: 0 auto;
}
.container-full-height{
    height: 100%;
}
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}
.zindex{
    z-index: 9;
}
.center-vertically
{
    display: table-cell;
    vertical-align: middle;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}
.white-popup 
{
    position: relative;
    background: #ffffff;
    padding-bottom:100px;
    width: auto;
    max-width: 1024px;
    margin: 20px auto;
    overflow: hidden;
}
.white-popup.errors-popup{ padding: 30px; max-width: 600px; }
.white-popup.success-popup{ padding: 30px; max-width: 600px; }
.white-popup.errors-popup strong { width: 110px; float: left; }

.full-height{ height: 100%; }
.full-width{ width: 100%; }

.half-height{ height: 50%; }
.half-width{ width: 50%; }
.bouton
{
    display: block;
    width: 180px;
    text-transform: uppercase;
    height: 30px;
    font-size: 10px;
    color: #8a8a8a;
    border: 1px solid #8a8a8a;
    text-align: center;
    line-height: 27px;
    margin: 40px auto 0 auto;
    letter-spacing: 1px;
}
@media (max-width: 570px)
{
    /*html, body{ overflow: hidden; }*/
    .bouton{ margin: 20px auto; }
    .scroll-icon{ display: none; }
}
.bouton:hover{ color: #000000; }
.display-table{ display: table; }
.position-fixed{ position: fixed; }

.color-white{ color: #fef7ff; }
.color-grey{ color: #dcd2d8; }
.color-red{ color: #990000; }
.color-darkgrey{ color: #1f1e1e; }
.color-beige{ color: #a67357; }

.button
{
    border: 3px solid #fef7ff;
    padding: 8px;
    text-transform: uppercase; 
}