.global-container
{
	background: url('../images/background.jpg') center fixed no-repeat;
	background-size: cover;
}
	header
	{
		background: url('../images/YEBorder.jpg') left top repeat-x;
		padding: 10px;
	}
		header .logo
		{
			margin-top: 40px;
		}
		header p
		{
			font-size: 36px;
			margin-top: 16px;
		}
		header small
		{
			display: block;
			font-size: 16px !important;
			max-width: 876px;
			letter-spacing: 0.4px;
		}
	header.header-logged
	{
		font-size: 16px;
		font-family: 'HarmoniaSans', sans-serif;
		background: url('../images/YEBorder.jpg') left bottom repeat-x;
		padding-bottom: 20px;
		padding-top: 0;
		position: relative;
	}

    
		header.header-logged .logo{ margin: 0 auto; }
		header.header-logged .logo
		{
			width: 140px;
		}
		header.header-logged h3
		{
			font-size: 16px;
		}
		header.header-logged .controls
		{
			margin-bottom: 2px;
		}
			header.header-logged .controls li
			{
				display: inline-block;
			}
			header.header-logged .controls li button
			{ 
				background: url('../images/player-controlls.png') no-repeat; 
				border: none;
			}
			header.header-logged .controls li.like button
			{
				width: 22px;
				height: 22px;
				background-position: 4px -4px;
				margin-top: 6px;
			}
				header.header-logged .controls li.like button:hover{background-position: 4px -35px;}
			header.header-logged .controls li.previous button
			{
				width: 18px;
				height: 16px;	
				background-position: -40px -6px;
				margin-top: 6px;
			}
				header.header-logged .controls li.previous button:hover{background-position: -40px -37px;}
			header.header-logged .controls li.play-pause button.pause
			{
				width: 31px;
				height: 31px;
				background-position: -135px 0px;
			}
				header.header-logged .controls li.play-pause button.pause:hover{background-position: -88px -31px;}
			header.header-logged .controls li.play-pause button.play
			{
				width: 31px;
				height: 31px;
				background-position: -88px 0px;
			}
				header.header-logged .controls li.play-pause button.play:hover{background-position: -88px -31px;}
			header.header-logged .controls li.next button
			{
				width: 18px;
				height: 16px;	
				background-position: -187px -6px;
				margin-top: 6px;
			}
				header.header-logged .controls li.next button:hover{background-position: -187px -37px;}
			header.header-logged .controls li.dislike button
			{
				width: 22px;
				height: 22px;
				background-position: -229px -4px;
				margin-top: 2px;
			}
				header.header-logged .controls li.dislike button:hover{background-position: -229px -35px;}
		header.header-logged .progression-bar span{ display: inline-block; font-size: 12px; width: 36px; text-align: center; }
		header.header-logged .player .progress
		{
			display: inline-block;
			height: 7px;
			width: calc(100% - 88px);
			margin: 0 4px;
		}
		header.header-logged .player .progress-bar-danger 
		{
		    background-color: #990000;
		}
		header.header-logged .player .options
		{
			width: calc(100% - 88px);
			margin: auto;
		}	
			header.header-logged .player .options .loop
			{
				background: url('../images/player-controlls.png') -268px -7px no-repeat; 
				border: none;
				width: 22px;
				height: 14px;
				margin-top: 2px;
				float: left;
			}
				header.header-logged .player .options .loop:hover{ background-position: -268px -39px; }
			header.header-logged .player .options .random
			{
				background: url('../images/player-controlls.png') -309px -6px no-repeat; 
				border: none;
				width: 17px;
				height: 16px;
				margin-top: 2px;
				float: right;
			}
				header.header-logged .player .options .random:hover{ background-position: -309px -38px; }
			header.header-logged .player .options .now-playing
			{
				display: inline-block;
				font-size: 14px;
				text-align: center;
				width: calc(100% - 40px);
				margin: 0;
			}
			header.header-logged .player .playlist-name
			{
				font-size: 16px;
				text-align: center;
				margin: 0;
			}
	header.header-logged .account-links
	{
		font-size: 16px;
	}
		header.header-logged .account-links p
		{
			font-size: 16px;
		} 
		header.header-logged .collapsed .account-links p{ margin-top: 0; margin-bottom: 0; }
			header.header-logged .account-links p a
			{
				color: #ffffff;
				display: block;
			} 
			/*header.header-logged .collapsed .account-links .account-username
			{
				top: -4px;
				position: relative;
			}
			header.header-logged .collapsed .account-links .account-disconnect
			{
				top: -2px;
				position: relative;
			}*/
			header.header-logged .account-links p a:hover{ color: #a67357; }
			header.header-logged .account-links p a:before
			{
				content: '';
				float: left;
				background: url('../images/player-controlls.png') 0px 0px no-repeat;
				width: 20px;
				height: 20px;
				margin-right: 10px;
			}
				header.header-logged .account-links p a:hover{ border: none; padding: 0; } 
			header.header-logged .account-links p.account-username a:before
			{
				width: 13px;
				height: 17px;
				background-position: -347px -5px;
			}
				header.header-logged .account-links p.account-username a:hover:before{background-position: -347px -38px;}
			header.header-logged .account-links p.account-disconnect a:before
			{
				width: 17px;
				height: 19px;
				background-position: -453px -4px;
			}
				header.header-logged .account-links p.account-disconnect a:hover:before{background-position: -453px -36px;}
			header.header-logged .account-links p.account-inbox a:before
			{
				width: 26px;
				height: 20px;
				background-position: -413px -5px;
			}
				header.header-logged .account-links p.account-inbox a:hover:before{background-position: -413px -37px;}
			header.header-logged .account-links p.account-settings a:before
			{
				width: 20px;
				height: 21px;
				background-position: -378px -4px;
			}
				header.header-logged .account-links p.account-settings a:hover:before{background-position: -378px -37px;}
	.search
	{
		font-size: 15px;
		line-height: 27px;
	}
	.search:before
	{
		content: '';
		background: url('../images/player-controlls.png') -518px -1px no-repeat;
		float: left;
		width: 28px;
		height: 27px;
		position: relative;
		left: -24px;
		transition: all 0.5s linear;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
	}
	.search:hover:before
	{
		left: -14px;
	}
	.toggle-header
	{
		background: url('../images/player-controlls.png') -478px 0px no-repeat;
		width: 34px;
		height: 28px;
		border: none;
		margin: auto;
		position: absolute;
		left: 0;
		right: 0;
		margin-top: 6px;
		opacity: 0.3;
		transition: all 0.5s linear;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
	}
	.toggle-header:hover{ opacity: 1; margin-top: 2px; }
	.logged-user .form-search-website
	{
		position: absolute;
		width: 100%;
		/*display: none;*/
		opacity: 0;
	}
		.form-search-website input
		{
			width: 100%;
			height: 50px;
			background: rgba(255, 255, 255, 0.8);
			border: none;
			color: #a67357;
			padding-left: 70px;
			font-size: 20px;
		}
		.form-search-website i
		{
			content: '';
			background: url('../images/player-controlls.png') -516px -31px no-repeat;
			width: 31px;
		    height: 34px;
		    display: inline-block;
		    top: 10px;
		    position: absolute;
		    left: 20px;
		}
.grid-artists
{
	margin-top: 30px;
	position: relative;
  	overflow: hidden;
}
	.grid-artists .layer-color
	{
		position: absolute;
		width: 100vw;
		height: 100%;
		/* background-color: rgba(123,91,40,0.7); */
		left: 0;
		z-index: 10;
		background-color: rgba(0,0,0,0.7);
	}
	.grid-artists li
	{
		-webkit-perspective: 600px;
    	-moz-perspective: 600px;
    	position: relative;
	}
	.grid-artists li .front 
	{
		width: 100%;
	    position: absolute;
	    top: 0;
	    z-index: 900;
	    text-align: center;
	    -webkit-transform: rotateX(0deg) rotateY(0deg);
	    -webkit-transform-style: preserve-3d;
	    -webkit-backface-visibility: hidden;
	    -moz-transform: rotateX(0deg) rotateY(0deg);
	    -moz-transform-style: preserve-3d;
	    -moz-backface-visibility: hidden;
	    /* -- transition is the magic sauce for animation -- */
	    -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	    -moz-transition: all 1s ease-in-out;
	    -webkit-transition: all 1s ease-in-out;
	    transition: all 1s ease-in-out;
	}
	.grid-artists li.flip .front
	{
		z-index: 900;
	    -webkit-transform: rotateY(180deg);
	    -moz-transform: rotateY(180deg);
	}
	.grid-artists li .back 
	{
		width: 100%;
	    position: absolute;
	    top: 0;
	    z-index: 800;
	    -webkit-transform: rotateY(-180deg);
	    -webkit-transform-style: preserve-3d;
	    -webkit-backface-visibility: hidden;
	 
	    -moz-transform: rotateY(-180deg);
	    -moz-transform-style: preserve-3d;
	    -moz-backface-visibility: hidden;
	    /* -- transition is the magic sauce for animation -- */
	    -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	    -moz-transition: all 1s ease-in-out;
	    -webkit-transition: all 1s ease-in-out;
	    transition: all 1s ease-in-out;
	}
	.grid-artists li.flip .back
	{
		z-index: 1000;
	    -webkit-transform: rotateX(0deg) rotateY(0deg);
	    -moz-transform: rotateX(0deg) rotateY(0deg);
	}
		.grid-artists li a
		{
			display: block;
		}
			.grid-artists li a img
			{
				width: 100%;
			}
.description-accueil
{
	margin-top: 40px;
}
	.description-accueil ul
	{
		font-size: 36px;
		display: table;
		margin: auto;
		padding: 0;
	}
		.description-accueil .description
		{
			padding-left: 60px;
		}
		.description-accueil .description-1
		{ 
			background: url('../images/description-pictos.png') left 10px no-repeat; 
		}
		.description-accueil .description-2
		{ 
			background: url('../images/description-pictos.png') left -40px no-repeat; 
		}
		.description-accueil .description-3
		{ 
			background: url('../images/description-pictos.png') left -94px no-repeat; 
		}
		.description-accueil .description-4
		{ 
			background: url('../images/description-pictos.png') left -146px no-repeat; 
		}
			.description-accueil .description strong{ color: #990000; font-weight: normal; }

.buttons-accueil
{
	margin-top: 30px;
}
	.buttons-accueil .button
	{
		margin: 0 28px;
	}
	.buttons-accueil .button:hover{ background-color: #1f1e1e; }
		.buttons-accueil .button-convert
		{
			background: url('../images/boutons-accueil.png') 32px center no-repeat;
			text-indent: 84px;
		}
		.buttons-accueil .button-manage
		{
			background: url('../images/boutons-accueil.png') -376px 17px no-repeat;
			text-indent: 70px;
		}
.share-phrase
{
	margin: 50px;
}

.fb-link
{
	letter-spacing: 2px;
	background: url('../images/facebook-f.png') #03002B 10% center no-repeat;
	line-height: 48px;
}
.login-block-form
{
	margin: 20px 0;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
.subscribe-block-form
{
	margin: 20px 0;
	border-top: 1px solid #990000;
	border-bottom: 1px solid #990000;
}

.promotion-quotes
{
	font-family: 'AlternateGothic', sans-serif; 
}
	.promotion-quotes li
	{
		display: block;
		letter-spacing: 2px;
		text-transform: uppercase;
		padding-left: 60px;
		background: url('../images/pictoHome.png') no-repeat;
		font-size: 30px;
		margin: 15px 0;
	}
	.promotion-quotes li:nth-child(1){background-position: 0px 3px;}
	.promotion-quotes li:nth-child(2){background-position: 0px -58px;}
	.promotion-quotes li:nth-child(3){background-position: 0px -114px;}
	.promotion-quotes li:nth-child(4){background-position: 0px -176px;}

footer
{
	background-color: #000000;
	padding-top: 20px;
	border-top: 1px solid #ffffff;
}
	footer .socials
	{

	}
		footer .socials .social
		{
			width: 50px;
			height: 50px;
			float: left;
			margin: 0 15px;
		}
		footer .socials .social:hover{ background-position-y: bottom; }
		footer .socials .social-facebook
		{
			background: url('../images/socials-footer.png') top left no-repeat;
		}
		footer .socials .social-twitter
		{
			background: url('../images/socials-footer.png') -79px top no-repeat;
		}
		footer .socials .social-google
		{
			background: url('../images/socials-footer.png') -160px top no-repeat;
		}
		footer .socials .social-pinterest
		{
			background: url('../images/socials-footer.png') -240px top no-repeat;
		}
	footer .links
	{
		font-size: 13px;
	}
		footer .links li
		{
			display: inline-block;
			border-left: 1px #ffffff solid;
			padding: 0 8px;
			height: 16px;
			line-height: 20px;
		}
		footer .links li:first-child{ border: none; }
			footer .links li a{ font-size: 13px; }
			footer .links li a:hover{ color:#a67357; }

	footer .copyright
	{
		padding: 16px;
		border-top: 1px solid #ffffff;
		width: 100%;
		margin: auto;
		margin-top: 10px;
		line-height: 22px;
		font-size: 14px;
		max-width: 500px;
	}