{% extends "YESiteBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/yesite/js/jLabel/jLabel.js') }}" type="text/javascript" charset="utf-8" ></script>
    <script>
    	$(document).ready(function($) 
    	{ 
    		$(".jLabel").jLabel();
    	});
    </script>
{% endblock %}

{% block insideBody %}
	{# <div>
	    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
	        <a href="{{ path('fos_user_security_logout') }}">
	            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
	        </a>
	    {% else %}
	        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
	    {% endif %}
	</div> 
	{% for type, messages in app.session.flashBag.all %}
	    {% for message in messages %}
	        <div class="{{ type }}">
	            {{ message|trans({}, 'FOSUserBundle') }}
	        </div>
	    {% endfor %}
	{% endfor %}#}
	{% if error %}
	    <div>{{ error|trans }}</div>
	{% endif %}

	<div class="container ">
		<div class="row row-xs-height">
			<div class="col-sm-4 login-block-form col-xs-height col-top ">
				<h2 class="font0 center uppercase letter-spacing-3 large-margin-y">Get in</h2>
				<div class="full-width relative">
			    	<a href="{{ path("hwi_oauth_service_redirect", {'service' : 'facebook'}) }}" title="Login By Facebook" class="form-input inline-block uppercase center font0 fb-link no-margin-bottom">Login By Facebook</a>
			    </div>
			    <h3 class="font0 center uppercase letter-spacing-1 small-margin-y" >OR</h3>
				<form action="{{ path("fos_user_security_check") }}" method="post">
				    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

				    <div class="full-width relative">
				    	<label for="username-login" class="absolute jLabel-label">{{ 'security.login.usernameOrEmail'|trans }}</label> 
					    <input type="text" id="username-login" name="_username" value="{{ last_username }}" required="required" class="jLabel form-input uppercase font0 letter-spacing-1" />
				    </div>
				    <div class="full-width relative">
					    <label for="password-login" class="absolute jLabel-label">{{ 'security.login.password'|trans }}</label>
					    <input type="password" id="password-login" name="_password" required="required" class="jLabel form-input uppercase font0" />
				    </div>

				    <div class="hidden">
				    	<input type="checkbox" id="remember_me" name="_remember_me" value="on" checked />
				    	<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
				    </div>

				    <input type="submit" id="_submit-login" name="_submit" value="{{ 'security.login.submit'|trans }}" class="form-input uppercase font0 center full-width letter-spacing-2 background-transparent" />
				</form>
				<ul class="promotion-quotes">
					<li>Easy to use</li>
					<li>Smart resolutions</li>
					<li>Download in all formats</li>
					<li>Highly secured data</li>
				</ul>
			</div>
			<div class="col-sm-4 subscribe-block-form col-xs-height col-top ">
				<h2 class="font0 center uppercase letter-spacing-1 large-margin-y" >Dont have an account ?</h2>
				<div class="full-width relative">
			    	<a href="{{ path("hwi_oauth_service_redirect", {'service' : 'facebook'}) }}" title="Sign In By Facebook" class="form-input inline-block uppercase center font0 fb-link no-margin-bottom">Sign In By Facebook</a>
			    </div>
			    <h3 class="font0 center uppercase letter-spacing-1 small-margin-y" >OR</h3>
				{{ form_start(oFormRegistration) }}
				    {# {{ form_errors(oFormRegistration) }} #}
				    <div class="full-width relative">
				    	{{ form_label(oFormRegistration.username, 'Username ', {'label_attr': {'class': 'absolute jLabel-label'} } ) }}
				    	{{ form_widget(oFormRegistration.username, {'attr': {'class': 'jLabel form-input uppercase font0'} } ) }}
				    </div>
				    <div class="full-width relative">
				    	{{ form_label(oFormRegistration.email, 'Email ', {'label_attr': {'class': 'absolute jLabel-label'} } ) }}
				    	{{ form_widget(oFormRegistration.email, {'attr': {'class': 'jLabel form-input uppercase font0'} } ) }}
				    </div>
				    <div class="full-width relative">
				    	{{ form_label(oFormRegistration.plainPassword, 'Password ', {'label_attr': {'class': 'absolute jLabel-label'} } ) }}
				    	{{ form_widget(oFormRegistration.plainPassword, {'attr': {'class': 'jLabel form-input uppercase font0'} } ) }}
				    </div>
				    
				    	{# {{ form_label(oFormRegistration.plainPassword.second) }}
				    	{{ form_widget(oFormRegistration.plainPassword.second) }} #}
				
				    <input type="submit" id="_submit-registration" name="_submit" value="{{ 'security.login.subscribe'|trans }}" class="form-input uppercase font0 center full-width letter-spacing-2 background-transparent" />
				{{ form_end(oFormRegistration) }}
				<p>By joining Youtube Enhancer, you agree to our <a href="#" title="Terms of Service">Terms of Service</a> and <a href="#" title="Privacy Policy">Privacy Policy</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 margin-top margin-bottom">
				<p class="justify">You are exclusively in charge of securing your password and other account data of your personnal account. Youtube Enhancer administration is for personnal use only. You are not allowed to use Youtube Enhancer administration to download music or other secured or copyrighted music. Your utilization of Youtube Enhancer administration implies you consent to Youtube Enhancer's <a href="#" title="Terms of Use">Terms of Use</a> and <a href="#" title="Privacy Policy">Privacy Policy</a> and constitute your entire agreement with us.</p>
			</div>
		</div>
	</div>

{% endblock insideBody %}
