{% extends '::base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('bundles/yesite/js/Traitement.js') }}" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="global-container full-height">
        {% include 'YESiteBundle:Portions:header.html.twig' %}
        {% block insideBody %}
            <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </div>
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        {% endblock %}
        {% include 'YESiteBundle:Portions:footer.html.twig' %}
    </div>
{% endblock %}