{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends admin.getTemplate('base_list_field') %}
{% block field %}
    {% if value|length > 4 %}
        <a href="#" title="Number of associations element" class="preventDefault show-associations first-count-associations">{{ value|length }}<span> (show)</span></a>
    <span class="hide-associations association-list">
    {% endif %}
    {% if field_description.hasassociationadmin and field_description.associationadmin.hasRoute('edit') %}
        {% for element in value%}
            {%- if field_description.associationadmin.isGranted('EDIT', value) -%}
                *{{ block('relation_link') }}*
            {%- else -%}
                *{{ block('relation_value') }}*
            {%- endif -%}
            {% if not loop.last %}
                 </br>
            {% else %} 
                {% if value|length > 4 %}
                    <a href="#" title="Number of associations element" class="preventDefault show-associations last-count-associations">{{ value|length }}<span> (hide)</span></a> 
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% for element in value%}
            *{{ block('relation_value') }}*
            {% if not loop.last %}
                </br> 
            {% else %} 
                {% if value|length > 4 %}
                    <a href="#" title="Number of associations element" class="preventDefault show-associations last-count-associations">{{ value|length }}<span> (hide)</span></a> 
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if value|length > 4 %}</span>{% endif %}
{% endblock %}
{%- block relation_link -%}
    <a href="{{ field_description.associationadmin.generateObjectUrl(field_description.options.route.name, element, field_description.options.route.parameters) }}">{{ element|render_relation_element(field_description) }}</a>
{%- endblock -%}

{%- block relation_value -%}
    {{ element|render_relation_element(field_description) }}
{%- endblock -%}
