.first-count-associations
{
    border-bottom: 1px solid black;
    display: block;
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 10px;
}
.last-count-associations
{
    border-top: 1px solid black;
    display: block;
    text-align: center;
    padding-top: 8px;
    margin-top: 10px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ vertical-align: middle; }