<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Youtube Enhancer | {% block meta_title %}{{ 'The HD Youtube Downloader'|trans }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% 
            stylesheets  
                'bundles/yesite/css/bootstrap.min.css' 
                'bundles/yesite/css/mandatory.css' 
                'bundles/yesite/css/style.css' 
                filter='cssrewrite, yui_css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('ye.ico') }}" />
        <meta name="robots" content="index,follow">
        <meta name="viewport" content="width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0, user-scalable=no">
        <meta name="google-site-verification" content="dyTJZszcTAMJmAYcgqQfSrfxZ9uoPMSUpKJeAosAx-c" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" href="{{ asset('ye.png') }}" type="image/x-icon">
        <link rel="canonical" href="{% block canonicalizer %}https://www.youtube-enhancer.com/{% endblock %}">

        <meta http-equiv="content-language" content="{{ app.request.locale }}">
        
        <meta name="description" content="{% block meta_description %}{{ 'Get all the information about any Youtube Video, download it to an HD Audio or HD Video format, easy, sophisticated, and mostly, fast.'|trans }}{% endblock %}">
        <meta name="keywords" content="{{ 'download, online, convert, youtube, mp3, mp4, watch, search'|trans }}">
        <meta property="og:image" content="{% block meta_image %}{{ app.request.getSchemeAndHttpHost() ~ asset('socials/logo-250x250.jpg') }}{% endblock %}">
        <meta property="og:title" content="{{ block('meta_og_title') }}" />
        <meta property="og:type" content="{% block meta_type %}website{% endblock %}" />
        <meta property="og:site_name" content="Youtube Enhancer"/>
        <meta property="og:url" content="https://www.youtube-enhancer.com/" />
        <meta property="og:description" content="{{ block('meta_description') }}" />
        <meta property="fb:app_id" content="1600958626858292" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:locale:alternate" content="fr_FR" />
        <meta property="og:locale:alternate" content="ru_RU" />
        <meta property="og:locale:alternate" content="zh_CN" />
        {# <meta property="article:author" content="https://www.facebook.com/YoutubeEnhancer" />
        <meta property="article:publisher" content="https://www.facebook.com/YoutubeEnhancer" /> #}
        <link rel="publisher" href="https://plus.google.com/b/105059245291740860771/105059245291740860771"> 
        <link rel="alternate" hreflang="fr" href="{{ app.request.getSchemeAndHttpHost() ~ path('ye_site_homepage', { '_locale': 'fr' }) }}" />
        <link rel="alternate" hreflang="en" href="{{ app.request.getSchemeAndHttpHost() ~ path('ye_site_homepage', { '_locale': 'en' }) }}" />
        <link rel="alternate" hreflang="ru" href="{{ app.request.getSchemeAndHttpHost() ~ path('ye_site_homepage', { '_locale': 'ru' }) }}" />
        <link rel="alternate" hreflang="zh" href="{{ app.request.getSchemeAndHttpHost() ~ path('ye_site_homepage', { '_locale': 'zh' }) }}" />
        {# <link rel="alternate" href="android-app://com.google.android.youtube/http/www.youtube.com/">
        <link rel="alternate" href="ios-app://544007664/vnd.youtube/www.youtube.com/">
        <link rel="search" type="application/opensearchdescription+xml" href="http://www.youtube.com/opensearch?locale=fr_FR" title="Recherche de vidéos YouTube">#}

        {% javascripts
            'bundles/yesite/js/jQuery.js'
            filter='yui_js'
        %}
            <script type="text/javascript" src="{{ asset_url }}" charset="utf-8" ></script>
        {% endjavascripts %}
        <script>
            {% if 'youtube-enhancer.com' in app.request.getSchemeAndHttpHost() %}
                var sProdEnv = true;
            {% else %}
                var sProdEnv = false;
            {% endif %}
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% if 'youtube-enhancer.com' in app.request.getSchemeAndHttpHost() %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-66864577-1', 'auto');
                ga('send', 'pageview');
            </script>
            <script>
                !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','//connect.facebook.net/en_US/fbevents.js');
                fbq('init', '220855258249128');
                fbq('track', "PageView");
            </script>
            <noscript>
                <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=220855258249128&amp;ev=Initiation" />
            </noscript>    
        {% endif %}
    </body>
</html>
