{% extends 'YESiteBundle::layout.html.twig' %}

{% block facebookScript %}
    {% include 'YESiteBundle:Portions:Facebook-Script.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/yesite/js/Traitement.js') }}" type="text/javascript" charset="utf-8" ></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<!-- <link rel="stylesheet" href="{{ asset('bundles/yesite/css/AnimatedImageGrid/fallback.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('bundles/yesite/css/AnimatedImageGrid/style.css') }}" type="text/css" /> -->
{% endblock %}

{% block insideBody %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="center uppercase font0">Get In</h2>
            </div>            
            <div class="col-sm-6">
                <h2 class="center uppercase font0">Don't have an account ?</h2>
                <div id="fb-root"></div>
                <script>
                       (function(d, s, id){
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) {return;}
                        js = d.createElement(s); js.id = id;
                        js.src = "https://connect.facebook.net/en_US/sdk.js#version=v2.2&appId=1600959363524885&status=true&cookie=true&xfbml=true";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                    
                </script>
                <p>
                    <a href="#" onclick="fb_login();">Facebook Connect Button (Dialog)</a>
                </p>

                {# Bonus: Show all available login link in HWIOAuthBundle #}
                {% render(controller('HWIOAuthBundle:Connect:connect')) %}
            </div>            
        </div>
    </div>
{% endblock %}