{% extends 'YESiteBundle::layout_beta.html.twig' %}

{% block meta_title %}About Us{% endblock %}
{% block meta_description %}This "Youtube Enhancer" Agreement portrays the terms and conditions on which www.youtube-enhancer.com ("YoutubeEnhancer") offers a useful tool to you.{% endblock %}
{% block canonicalizer %}https://www.youtube-enhancer.com/about-us{% endblock %}

{% block insideBody %}
<section class="container section-text section-about-us">
	<article class="row">
		<div class="col-md-12">
			<h1 class="uppercase">{{ 'About Us'|trans }}</h1>
			<div class="text-content">
				<p>This "Youtube Enhancer" Agreement portrays the terms and conditions on which www.youtube-enhancer.com ("YoutubeEnhancer") offers a useful tool to you. By using Youtube Enhancer tool, you consent to be bound by the accompanying terms and conditions: </p>

				<p>You are the main in charge and the only responsible of the informations (e.g. URLs) you are using and giving to Youtube Enhancer administration. One is helped that the unlawful trades to remember recordings and ensured acts and in addition the hacking hurt masterful creation. One is reminded that additionally non the appreciation of the laws in power, specifically those concerning the admiration of the scholarly and masterful property, can offer place to continuations and judgments. </p>

				<p>Youtube Enhancer is implied for making a recording/duplicate of downloadable online recordings for the individual use ("reasonable use"). Any further utilization of these videos downloaded/recorded by Youtube Enhancer, especially however not solely making the video openly available or use it commercialy, should be settled upon with the holder of the privileges of the individual downloaded content. The client bears full obligation regarding all activities identified with the information transmitted by Youtube Enhancer. Youtube Enhancer does not allow any rights to the videos, as it just goes about as a specialized administration supplier. </p>

				<p>The user conveys the obligation regarding checking the authenticity of his utilization of Youtube Enhancer. The authenticity of using this administration might vary as a part of the user nation through nearby laws. Youtube Enhancer just gives the specialized stage. Henceforth, Youtube Enhancer does not take risk towards the client or any outsider for the admissibility of downloading substance through Youtube Enhancer. </p>

				<p>Youtube Enhancer is a free online tool, which does not offer any surety of any sort with respect to its utilization. </p>

				<p>Youtube Enhancer claims all authority to change or cease any of the Services whenever. </p>
			</div>		
		</div>
	</article>
</section>
{% endblock %}