{% extends 'YESiteBundle::layout_beta.html.twig' %}

{% block meta_title %}Q&amp;A{% endblock %}
{% block meta_description %}We are here to answer every question that you might have, the FAQ page is here for you.{% endblock %}
{% block canonicalizer %}https://www.youtube-enhancer.com/faq{% endblock %}

{% block insideBody %}
<section class="container section-text section-faq">
	<article class="row">
		<div class="col-md-12">
			<h1 class="uppercase">{{ 'Q&A'|trans }}</h1>
			<div class="text-content">
				<section>
					<article class="animate">
						<h2>Q: How can I download a Youtube video ?</h2>
						<p class="response animate">A: Simple, you can either copy / paste the Youtube Link in the input box on the main page, or go to Youtube, select the video you like, then change the displayed URL by adding "-enhancer" after "www.youtube", for example you are watching "http://www.youtube.com/watch?v=XXXXXXX", all you have to do is to change the current URL to "http://www.youtube-enhancer.com/watch?v=XXXXXXX" and the download can begin.</p>
					</article>
					<article>
						<h2>Q: Is Youtube Enhancer for free ?</h2>
						<p class="response animate">A: Indeed it is free, and it'll always be free.</p>
					</article>
					<article>
						<h2>Q: How long does it take to convert / download a Youtube video ?</h2>
						<p class="response animate">A: Between 1 and 2 seconds, we can call it instantaneous download. After you press Download button, the instant download begin, and we leave the rest to your bandwith quality.</p>
					</article>
					<article>
						<h2>Q: Can I download a long Video which exceeds 1 hour ?</h2>
						<p class="response animate">A: Of course. The treatment is the same. The Youtube video's length doesnt matter for our download algorithm. Anything can be downloaded.</p>
					</article>
					<article>
						<h2>Q: Is there a limit to my downloads ?</h2>
						<p class="response animate">A: Not at all. Use it without moderation.</p>
					</article>
					<article>
						<h2>Q: Can I download a Youtube Playlist ?</h2>
						<p class="response animate">A: We plan to add this functionality later. Please leave your email adresse by using the contact form in the contact page, we will let you know as soon as we build this functionality.</p>
					</article>
					<article>
						<h2>Q: Will Youtube Enhancer stay add free ?</h2>
						<p class="response animate">A: Well, we dont garantee it !</p>
					</article>
					<article>
						<h2>Q: What kind of URL's can I use to download a Youtube video ?</h2>
						<p class="response animate">A: All the supported Youtube links format can be used to download.</p>
					</article>
					<article>
						<h2>Q: How can I report something I dont like ?</h2>
						<p class="response animate">A: .</p>
					</article>
					{# <input class="animate" type="radio" name="question" id="q1"/>
					<label class="animate" for="q1">Q: What is Lorem Ipsum?</label>
					<p class="response animate">A: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

					<input class="animate" type="radio" name="question" id="q2"/>
					<label class="animate" for="q2">Q: Why do we use it?</label>
					<p class="response animate">A: It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

					<input class="animate" type="radio" name="question" id="q3"/>
					<label class="animate" for="q3">Q: Where does it come for?</label>
					<p class="response animate">A: Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

					<input class="animate" type="radio" name="question" id="q4"/>
					<label class="animate" for="q4">Q: Where can i get some?</label>
					<p class="response animate">A: There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc..</p> #}
				</section>
			</div>		
		</div>
	</article>
</section>
{% endblock %}