{% extends 'YESiteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/yesite/js/Transit/Transit.js') }}" type="text/javascript" charset="utf-8" ></script>
    <!-- <script src="{{ asset('bundles/yesite/js/FilterMe/Filterme.js') }}" type="text/javascript" charset="utf-8" ></script>-->
    <script src="{{ asset('bundles/yesite/js/Traitement.js') }}" type="text/javascript" charset="utf-8" ></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<!-- <link rel="stylesheet" href="{{ asset('bundles/yesite/css/AnimatedImageGrid/fallback.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('bundles/yesite/css/AnimatedImageGrid/style.css') }}" type="text/css" /> -->
{% endblock %}

{% block insideBody %}
    <div class="grid-artists container-fluid">
        <div class="layer-color"></div>
    	{# <div class="bankImage hidden">
    		{% image '@YESiteBundle/Resources/public/images/HomeGrid/*' %}
				<img src="{{ image(app.request.scheme ~ '://' ~ app.request.httpHost ~ asset_url).zoomCrop(132,182, 'black', 'center', 'top') }}" class="no-opacity full-width filter" >
			{% endimage %}
    	</div>
    	<div class="bankImageUsed hidden">
    		{% image '@YESiteBundle/Resources/public/images/HomeGrid/*' %}
				<img src="{{ image(app.request.scheme ~ '://' ~ app.request.httpHost ~ asset_url).zoomCrop(132,182, 'black', 'center', 'top') }}" class="no-opacity full-width filter" >
			{% endimage %}
    	</div> #}
	    <ul class="row no-padding"></ul>
	</div>
	<div class="container description-accueil">
    	<ul class="font0 color-white">
    		<li class="description description-1">The easiest way to <strong>manage</strong>, <strong>convert</strong> and <strong>download</strong> a whole Youtube playlist</li>
    		<li class="description description-2">Stay tuned and meet new friends who <strong>match</strong> your <strong>music taste</strong></li>
    		<li class="description description-3"><strong>Share</strong>, <strong>follow</strong> and make <strong>discover</strong> to your friends whatever music you may like</li>
    		<li class="description description-4">Keep posted with the lastest music <strong>news</strong> you are <strong>interested by</strong></li>
    	</ul>
    	<div class="buttons buttons-accueil row row-centered font0">
    		<a href="{{ path('ye_site_dashboard') }}" class="col-sm-3 button button-convert col-centered" title="Convert Video">Convert Video</a>
    		<a href="{{ path('ye_site_dashboard') }}" class="col-sm-3 button button-manage col-centered" title="Manage Playlists">Manage Playlists</a>
    	</div>
    	<div class="share-phrase">
    		<p class="font0 uppercase center">Be generous, and share this shit*</p>
    	</div>
    </div>
{% endblock %}