{% extends 'YESiteBundle::layout-logged.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" type="text/javascript" charset="utf-8" ></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block insideBody %}
    {# {% include 'YESiteBundle:Portions:List-Videos-Grille' with vars only %} #}
{% endblock %}