{% extends 'YESiteBundle::layout_beta.html.twig' %}

{% block javascripts %}
	<script>
		var typeAnimation = {% if sReferer %} false {% else %} true {% endif %};
	</script>
	{{ parent() }}
	{% if sReferer %}
		<script>
			$(document).ready(function(){
				$("html").getNiceScroll(0).doScrollTop($(".beta-version .ajax-show-result").position().top, 2000);
				fbq('track', 'ThroughTheWatch');
			});
		</script>
	{% endif %}
{% endblock %}

{% set bVideoExists = false %}
{% if aVideoToDisplay != false and aVideoToDisplay['empty'] is defined and aVideoToDisplay['empty'] == 'no' %}
	{% set bVideoExists = true %}
{% endif %}

{% block meta_title %}{% if bVideoExists == true %}{{ 'Download'|trans }} | {{ limitText(aVideoToDisplay['title']|title, 155) }}{% else %}{{ parent() }}{% endif %}{% endblock %}
{% block meta_og_title %}{% if bVideoExists == true %}{{ limitText(aVideoToDisplay['title']|title, 155) }} | {{ 'Download'|trans }} - Youtube Enhancer{% else %}Youtube Enhancer - Home{% endif %}{% endblock %}
{% block meta_description %}{% if bVideoExists == true %}{{ 'Download'|trans }} | {{ limitText(aVideoToDisplay['description'], 155) }}{% else %}{{ parent() }}{% endif %}{% endblock %}
{% block meta_image %}{% if bVideoExists == true %}http://img.youtube.com/vi/{{ aVideoToDisplay['idVideo'] }}/hqdefault.jpg{% else %}{{ parent() }}{% endif %}{% endblock %}
{% block meta_type %}{% if bVideoExists == true %}video{% else %}{{ parent() }}{% endif %}{% endblock %}

{% block insideBody %}
	<section>
		<div class="fixed loader-preparing-download">
			<div class="relative full-height">
				<div class="cssload-jar-container">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
					    <rect x="0" y="11.1294" width="4" height="8.74114" fill="#333">
					      	<animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
					      	<animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
					    </rect>
					    <rect x="10" y="10.8706" width="4" height="9.25886" fill="#333">
					    	<animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
					      	<animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
					    </rect>
					    <rect x="20" y="6.87057" width="4" height="17.2589" fill="#333">
					      	<animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
					      	<animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
					    </rect>
					</svg>
					<div class="textProgress" data-progress="0">
				        <span class="tp">Youtube Enhancer</span>
				        <span class="tp">Youtube Enhancer</span>
				        <div class="progress"><span class="percent">0%</span></div>
				    </div>
					{# <div class="title-waiting">{{ 'One sec, your download is getting prepared...'|trans }}</div> #}
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row row-centered form-search-website-container">
				<div class="col-xs-12 col-md-8 col-centered">
					{{ form_start(oForm, {'attr': {'class': 'form-search-website'}}) }}
						<i></i>{# {{ form_label(oForm.videoID, 'Youtube URL', {'label_attr': {'class': 'search-form'}}) }} #}
						<div class="typed-container font1">
							<span class="typed"></span>
						</div> 
						{{ form_widget(oForm.videoID, {'attr': {'class': 'jLabel input-convert font1'}}) }}
					{{ form_end(oForm) }}
				</div>
			</div>
		</div>
		<div class="container ajax-show-result {% if bVideoExists %}referer{% endif %}">
			<div class="no-result-found">
				<p>{{ 'No result was found. Check if you have typed a valid Youtube link.'|trans|raw }}</p>
				<p><a href="#" class="uppercase goTop" title="{{ 'Retry'|trans|raw }}">{{ 'Retry'|trans|raw }}</a></p>
			</div>
			<div class="loader-result-ajax">
				<div class="loading">
					<div class="finger finger-1">
						<div class="finger-item">
							<span></span>
							<i></i>
						</div>
					</div>
					<div class="finger finger-2">
						<div class="finger-item">
							<span></span>
							<i></i>
						</div>
					</div>
					<div class="finger finger-3">
						<div class="finger-item">
							<span></span>
							<i></i>
						</div>
					</div>
					<div class="finger finger-4">
						<div class="finger-item">
							<span></span>
							<i></i>
						</div>
					</div>
					<div class="last-finger">
						<div class="last-finger-item">
							<i></i>
						</div>
					</div>
				</div>
			</div>    
			<div class="result-convesion">
				<div class="row" {% if bVideoExists %}itemscope itemtype="https://schema.org/VideoObject"{% endif %} >
					<div class="col-md-4 video-iframe">
						{% if bVideoExists %}
							{# <div class="youtube-player" data-id="{{ aVideoToDisplay['idVideo'] }}"></div> #}
							<iframe src='https://www.youtube.com/embed/{{ aVideoToDisplay['idVideo'] }}?autoplay=0&amp;showinfo=0&amp;controls=0' frameborder='0' allowfullscreen width='100%' height='220' ></iframe>
						{% endif %} 
					</div>
					<div class="col-md-8">
						{% if bVideoExists %}
							<meta itemprop="thumbnailURL" content="https://img.youtube.com/vi/{{ aVideoToDisplay['idVideo'] }}/hqdefault.jpg" />
							<meta itemprop="embedURL" content="https://www.youtube.com/watch?v={{ aVideoToDisplay['idVideo'] }}" />
						{% endif %}
						<h4 class="result-title" {% if bVideoExists %}itemprop="name"{% endif %}>
							{% if bVideoExists %}
								{{ aVideoToDisplay['title'] }}
							{% endif %} 
						</h4>
						<p class="result-date-container">
							{{ 'Published at'|trans }} : 
							<span class="result-date">
								{% if bVideoExists %}
									{{ aVideoToDisplay['publishedAt'] }}
								{% endif %} 
							</span>
						</p>
						<p class="result-channel-container">
							{{ 'By'|trans }} : 
							<span class="result-channel">
								{% if bVideoExists %}
									<a href="https://www.youtube.com/channel/{{ aVideoToDisplay['channelId'] }}" target="_blank" >{{ aVideoToDisplay['channelTitle'] }}</a>
								{% endif %} 
							</span>
						</p>
						<p class="result-description-container">
							{{ 'Description'|trans }} : 
							<span class="result-description" {% if bVideoExists %}itemprop="description"{% endif %} >
								{% if bVideoExists %}
									{{ limitText(aVideoToDisplay['description'], 480)|raw }}
								{% endif %} 
							</span>
						</p>
					</div>
				</div>
				<div class="row row-centered download-block">
					<h2>{{ 'I bet this is exactly what you are looking for. <span class="color-white" >Download</span> it then. For <span class="color-white" >free</span>.'|trans|raw }}</h2>
					<div class="col-xs-12 col-md-offset-1 col-md-5">
						<a href="{{ path('ye_site_downloadoctectfile', {'sExtension': 'mp3'}) }}" class="btn left download-ajax-mp3 download-ajax-file" title="{{ 'Download the Audio (HD)'|trans }}" {% if bVideoExists %}data-id="{{ aVideoToDisplay['idVideo'] }}"{% endif %} >
							<span class="left icon icon-music"></span>
							<span class="right title"><span class="arrow-right"></span>{{ 'Download the Audio (HD)'|trans }}</span>
						</a>
					</div>    
					<div class="col-xs-12 col-md-5">
						<a href="{{ path('ye_site_downloadoctectfile', {'sExtension': 'mp4'}) }}" class="btn right download-ajax-mp4 download-ajax-file" title="{{ 'Download the Video (HD)'|trans }}" {% if bVideoExists %}data-id="{{ aVideoToDisplay['idVideo'] }}"{% endif %} >
							<span class="left title"><span class="arrow-left"></span>{{ 'Download the Video (HD)'|trans }}</span>
							<span class="right icon icon-facetime-video"></span>
						</a>    
					</div>   
				</div>
			</div>
		</div>
	</section>
	<section class="recently-downloaded">
		<div class="container">
			<div class="col-xs-12 col-centered">
				<h1 class="center uppercase" >{{ 'Recently Downloaded'|trans }}</h1>
				<h2 class="center uppercase" >{{ '<strong>Watch</strong> (Set), like (Ready ?) ? Then <strong>download</strong> (Go) !'|trans|raw }}</h2>
			</div>
			<div class="row">
				<div class="owl-carousel" itemscope itemtype="https://schema.org/VideoGallery">
					{% for oVideo in oRecentVideos %}
					    <article itemscope itemtype="https://schema.org/VideoObject">

					    	<meta itemprop="thumbnailURL" content="https://img.youtube.com/vi/{{ oVideo.videoID }}/hqdefault.jpg" />
							<meta itemprop="embedURL" content="https://www.youtube.com/watch?v={{ oVideo.videoID }}" />
							<meta itemprop="uploadDate" content="{{ oVideo.datePublication|date() }}" />

							<div class="youtube-player" data-id="{{ oVideo.videoID }}"></div>
							<h3 itemprop="name">{{ limitText(oVideo.title, 120)|raw }}</h3>
							<p class="description" itemprop="description">{{ limitText(oVideo.description, 186)|raw }}</p>
							<p><a href="{{ path('ye_site_homepage_download_slug', {'slug' : oVideo.slug })  }}" title="{{ 'Download'|trans|raw }} {{ oVideo.title }}" class="download-recent" data-videoid="{{ oVideo.videoID }}" >{{ 'Download'|trans|raw }}</a></p>
						</article>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<section id="how-does-it-work">		
		<article>
			<div class="container-fluid how-it-works">
				<div class="col-xs-12 col-centered">
					<h1 class="center uppercase" >{{ 'How does it work ?'|trans }}</h1>
					<h2 class="center uppercase" >{{ '<strong>Easy</strong>, <strong>fast</strong>, and <strong>sophisticated</strong>, <a href="#" class="goTop underline" title="Try me">try me</a> !'|trans|raw }}</h2>
				</div>
				<div class="container-fluid container-sm-height">
					<div class="row row-sm-height">
						<div class="col-sm-4 col-xs-12 col-sm-height col-centered">
							<i class="hiw-picto-1 hiw-picto"></i>
							<p class="center">{{ 'Put any Youtube link in <a href="#" class="goTop" >the box above</a>'|trans|raw }}</p>
						</div>
						<div class="col-sm-4 col-xs-12 col-sm-height col-centered">
							<i class="hiw-picto-2 hiw-picto"></i>
							<p class="center">{{ 'Get all the information about that link, even the video itself'|trans }}</p>
						</div>
						<div class="col-sm-4 col-xs-12 col-sm-height col-centered">
							<i class="hiw-picto-3 hiw-picto"></i>
							<p class="center">{{ 'Download the selected Youtube Video in a converted Audio MP3 or Video MP4 format'|trans }}</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-centered">  
					<p class="center last-hiw">{{ 'Comeback and download more videos as much as you desire, it’ll always be free.'|trans }}</p>
				</div> 
			</div>
		</article>
	</section>
	<script>
		(function() {
		    var v = document.getElementsByClassName("youtube-player");
		    for (var n = 0; n < v.length; n++) {
		        var p = document.createElement("div");
		        p.innerHTML = labnolThumb(v[n].dataset.id);
		        p.onclick = labnolIframe;
		        v[n].appendChild(p);
		    }
		})();

		function labnolThumb(id) {
		    return '<img width="480" height="360" class="youtube-thumb full-width" src="https://img.youtube.com/vi/' + id + '/hqdefault.jpg"><div class="play-button"></div>';
		}

		function labnolIframe() {
		    var iframe = document.createElement("iframe");
		    iframe.setAttribute("src", "//www.youtube.com/embed/" + this.parentNode.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=0&showinfo=0");
		    iframe.setAttribute("frameborder", "0");
		    iframe.setAttribute("width", "100%");
		    iframe.setAttribute("id", "youtube-iframe");
		    this.parentNode.replaceChild(iframe, this);
		}
	</script>
{% endblock %}