{% extends 'YESiteBundle::layout_beta.html.twig' %}

{% block meta_title %}Privacy Policy{% endblock %}
{% block meta_description %}Youtube Enhancer can be a enjoyable challenge for people like us and that is in this article to help our consumers transform Youtube videos into HD MP3 / MP4 downloadable formats.{% endblock %}
{% block canonicalizer %}https://www.youtube-enhancer.com/privacy-policy{% endblock %}

{% block insideBody %}
<section class="container section-text section-terms-of-use">
	<article class="row">
		<div class="col-md-12">
			<h1 class="uppercase">{{ 'Our Privacy Policy'|trans }}</h1>
			<div class="text-content">
				<p>Youtube Enhancer can be a enjoyable challenge for people like us and that is in this article to help our consumers transform Youtube videos into HD MP3 / MP4 downloadable formats. We provide this web program for free and that will always be our politic. We've been thrilled to know that so many coming from worldwide offers discovered our tool to become valuable.</p>

				<p>This site might be used for converting and downloading non-copyrighted content only! Many of us do not condone any kind of piracy. We invite you to review our Terms of Use and Privacy Policy.</p>

				<p>We are spending so much time to hold this specific uncomplicated tool cost-free for you to use. Get pleasure from! 
				<p>Have fun, and use it without moderation.</p>
			</div>		
		</div>
	</article>
</section>
{% endblock %}