
.textProgress {
    display: block;
    width: 100%;
    position: relative;
}

.tp {
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.tp + .tp {
    position: absolute;
    left: 0;
    width: 0;
    overflow: hidden;
        top: 0;
}

.progress {
    padding: 2px 0;
    width: 0;
    text-align: right;
    height: auto;
}

.percent {
    padding: 5px;
}

.percent:after {
    content: "%";
}

/*
    Magic!
*/

.tp + .tp, .percent, .progress {
    -webkit-transition: all 900ms cubic-bezier(0.81, 0, 0.71, 1.13);
    -webkit-transition: all 900ms cubic-bezier(0.81, 0, 0.71, 1.550);
    -moz-transition: all 900ms cubic-bezier(0.81, 0, 0.71, 1.550);
    -o-transition: all 900ms cubic-bezier(0.81, 0, 0.71, 1.550);
    transition: all 900ms cubic-bezier(0.81, 0, 0.71, 1.550);
    -webkit-transition-timing-function: cubic-bezier(0.81, 0, 0.71, 1.13);
    -webkit-transition-timing-function: cubic-bezier(0.81, 0, 0.71, 1.550);
    -moz-transition-timing-function: cubic-bezier(0.81, 0, 0.71, 1.550);
    -o-transition-timing-function: cubic-bezier(0.81, 0, 0.71, 1.550);
    transition-timing-function: cubic-bezier(00.81, 0, 0.71, 1.550);
}

/* Styling, not needed */
.textProgress {
    height: 80px;
}

.tp {
    color: #393838;
    font-size: 50px;
}

.textProgress .underline {
    border-bottom: 5px solid #990000;
}

.tp + .tp {
    color: #990000;
}

.progress {
    background: #990000 !important;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 2px !important;
}

.percent {
    color: white;
}
