<footer>
	<div class="container">
		<ul class="socials row row-centered">
			<li class="col-centered"><a href="#" class="text-indent social social-facebook" title="Facebook">Facebook</a></li>
			<li class="col-centered"><a href="#" class="text-indent social social-twitter" title="Twitter">Twitter</a></li>
			<li class="col-centered"><a href="#" class="text-indent social social-google" title="Google+">Google+</a></li>
			<li class="col-centered"><a href="#" class="text-indent social social-pinterest" title="Pinterest">Pinterest</a></li>
		</ul>
		<div class="links row row-centered">
			<nav>
				<ul>
					<li class="col-centered"><a href="#" title="About us">About us</a></li>
					<li class="col-centered"><a href="#" title="FAQ">FAQ</a></li>
					<li class="col-centered"><a href="#" title="Terms of use">Terms of use</a></li>
					<li class="col-centered"><a href="#" title="Privacy Policy">Privacy Policy</a></li>
					<li class="col-centered"><a href="#" title="How it works">How it works</a></li>
					<li class="col-centered"><a href="#" title="Contact us">Contact us</a></li>
				</ul>
			</nav>
		</div>
		<div class="copyright center">
			 <small>&copy; 2015 - 2016 Youtube Enhancer. All Rights reserved</small>
			 <p>* By : Two lovers.</p>
		</details>
	</div>
</footer>