<footer>
	<div class="container">
		<ul class="socials row row-centered">
			<li class="col-centered"><a href="https://www.facebook.com/YoutubeEnhancer" target="_blank" class="text-indent social social-facebook" title="Facebook">Facebook</a></li>
			<li class="col-centered"><a href="#" class="text-indent social social-twitter" title="Twitter">Twitter</a></li>
			<li class="col-centered"><a href="https://plus.google.com/b/105059245291740860771/105059245291740860771" target="_blank" class="text-indent social social-google" title="Google+">Google+</a></li>
			<li class="col-centered"><a href="#" class="text-indent social social-pinterest" title="Pinterest">Pinterest</a></li>
		</ul>
		<div class="links row row-centered">
			<nav>
				<ul>
					<li class="col-centered"><a href="{{ path('ye_site_aboutus', { _locale: app.request.locale }) }}" title="{{ 'About us'|trans }}">{{ 'About us'|trans }}</a></li>
					<li class="col-centered"><a href="{{ path('ye_site_faq', { _locale: app.request.locale }) }}" title="{{ 'FAQ'|trans }}">{{ 'FAQ'|trans }}</a></li>
					<li class="col-centered"><a href="{{ path('ye_site_termsofuse', { _locale: app.request.locale }) }}" title="{{ 'Terms of use'|trans }}">{{ 'Terms of use'|trans }}</a></li>
					<li class="col-centered"><a href="{{ path('ye_site_privacy', { _locale: app.request.locale }) }}" title="{{ 'Privacy Policy'|trans }}">{{ 'Privacy Policy'|trans }}</a></li>
					<li class="col-centered"><a href="#how-does-it-work" class="preventDefault" title="{{ 'How it works'|trans }}">{{ 'How it works'|trans }}</a></li>
					<li class="col-centered"><a href="#" class="preventDefault" title="{{ 'Contact us'|trans }}">{{ 'Contact us'|trans }}</a></li>
				</ul>
			</nav>
		</div>
		<div class="copyright center">
			 <small>&copy; 2015 - 2016 Youtube Enhancer. {{ 'All Rights reserved'|trans }}. Version : 0.9.9</small>
		</div>
	</div>
</footer>