<header class="container-fluid header-logged container-sm-height full-width">
	<div class="opened row row-sm-height">
		<div class="col-sm-4 col-sm-height col-middle">
			<div class="logo center-img">
				<img class="center-img img-responsive" src="{{ asset('bundles/yesite/images/YELogo.png') }}" alt="Youtube Enhancer">
			</div>
		</div>
		<div class="col-sm-4 col-sm-height col-middle">
			<div class="player">
				<h3 class="center">Pink Floyd - High Hopes <i></i></h3>
				<ul class="controls row row-centered">
					<li class="like col-sm-2 col-sm-offset-1"><button class="col-centered"></button></li>
					<li class="previous col-sm-2"><button class="col-centered"></button></li>
					<li class="play-pause col-sm-2">
 						<button class="play col-centered"></button>
						<button class="pause col-centered hidden"></button>
					</li>
					<li class="next col-sm-2"><button class="col-centered"></button></li>
					<li class="dislike col-sm-2"><button class="col-centered"></button></li>
				</ul>
				<div class="progression-bar">
					<span class="timing-actual">00:36</span>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
							<span class="sr-only">60% Complete</span>
						</div>
					</div>
					<span class="timing-total">04:36</span>
				</div>
				<div class="options">
					<button class="loop"></button>
					<p class="uppercase now-playing">Now Playing</p>
					<button class="random"></button>
				</div>
				<p class="playlist-name">Playlist - My Favourit Band</p>
			</div>
		</div>
		<div class="col-sm-4 col-sm-height col-middle">
			<div class="account-links">
				<div class="row">
					<div class="col-md-5 col-md-offset-1 col-xs-6">
						<p class="account-username"><a href="#" title="Youssef" >Youssef</a></p>
					</div>
					<div class="col-md-5 col-md-offset-1 col-xs-6">
						<p class="account-disconnect"><a href="{{ path('fos_user_security_logout') }}" title="Disconnect" >Disconnect</a></p>
					</div>
					<div class="col-md-5 col-md-offset-1 col-xs-6">
						<p class="account-inbox"><a href="" title="Inbox" >Inbox</a></p>
					</div>
					<div class="col-md-5 col-md-offset-1 col-xs-6">
						<p class="account-settings"><a href="#" title="Settings" >Settings</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="collapsed row row-sm-height hidden">
		<div class="col-sm-4 col-sm-height col-middle small-padding-top">
			<div class="logo center-img">
				<img class="center-img img-responsive" src="{{ asset('bundles/yesite/images/YELogo.png') }}" alt="Youtube Enhancer">
			</div>
		</div>
		<div class="col-sm-4 col-sm-height col-middle small-padding-top">
			<div class="player">
				<ul class="controls row row-centered">
					<li class="like col-sm-2 col-sm-offset-1"><button class="col-centered"></button></li>
					<li class="previous col-sm-2"><button class="col-centered"></button></li>
					<li class="play-pause col-sm-2">
 						<button class="play col-centered"></button>
						<button class="pause col-centered hidden"></button>
					</li>
					<li class="next col-sm-2"><button class="col-centered"></button></li>
					<li class="dislike col-sm-2"><button class="col-centered"></button></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4 col-sm-height col-middle small-padding-top">
			<div class="account-links">
				<div class="row">
					<div class="col-md-3 col-sm-2 col-sm-offset-3">
						<p class="account-username"><a href="#" title="Youssef" >Youssef</a></p>
					</div>
					<div class="col-sm-2">
						<p class="account-inbox"><a href="" title="Inbox" ></a></p>
					</div>
					<div class="col-sm-2">
						<p class="account-settings"><a href="#" title="Settings" ></a></p>
					</div>
					<div class="col-sm-2">
						<p class="account-disconnect"><a href="{{ path('fos_user_security_logout') }}" title="Disconnect" ></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<button class="toggle-header"></button>
			<a href="#" title="Search" class="toggle-search display-block search pull-right margin">Looking for something ?</a>
		</div>
	</div>
</div>
