<header class="full-width">
	<nav class="lang-container">
		<ul>
			<li><a class="flag-icon flag-icon-fr" href="{{ path('ye_site_homepage', { '_locale': 'fr' }) }}" title="{{ 'French'|trans }}">{{ 'French'|trans }}</a></li>
			<li><a class="flag-icon flag-icon-us" href="{{ path('ye_site_homepage', { '_locale': 'en' }) }}" title="{{ 'English'|trans }}">{{ 'English'|trans }}</a></li>
			<li><a class="flag-icon flag-icon-ru" href="{{ path('ye_site_homepage', { '_locale': 'ru' }) }}" title="{{ 'Russian'|trans }}">{{ 'Russian'|trans }}</a></li>
			<li><a class="flag-icon flag-icon-cn" href="{{ path('ye_site_homepage', { '_locale': 'zh' }) }}" title="{{ 'Chinese'|trans }}">{{ 'Chinese'|trans }}</a></li>
		</ul>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="logo center-img">
					<a href="{{ path('ye_site_homepage', { _locale: app.request.locale }) }}" title="">
						<img width="449" height="121" class="center-img img-responsive" src="{{ asset('bundles/yesite/images/YELogo.png') }}" alt="Youtube Enhancer Logo">
					</a>
				</div>
			</div>
			<div class="col-sm-12">
				<p class="uppercase center font0 no-margin-bottom">The project that takes Youtube* into the next level</p>
			</div>
		</div>
	</div>
</header>