<header class="full-width">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="logo center-img">
					<img class="center-img img-responsive" src="{{ asset('bundles/yesite/images/YELogo.png') }}" alt="Youtube Enhancer">
				</div>
			</div>
			<div class="col-sm-12">
				<p class="uppercase center font0 no-margin-bottom">The project that takes Youtube* into the next level... Twice</p>
				<small class="text-right uppercase font0 no-margin-y">* Not a Google product</small>
				<small class="text-right uppercase font0 no-margin-y">** You are safer with us</small>
			</div>
		</div>
	</div>
</header>