<div class="container">
	<div class="row row-centered">
		<div class="col-xs-12 col-md-8 col-centered">
			<form action="#" method="POST" accept-charset="utf-8" class="form-search-website">
				<i></i><label for="search-form">Search</label>
				<input type="search" name="Search" id="search-form" class="jLabel font1">
			</form>
		</div>
	</div>
</div>