{% extends '::base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('bundles/yesite/js/Traitement.js') }}" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="global-container full-height">
	    {% include 'YESiteBundle:Portions:header.html.twig' %}
	        {% block insideBody %}{% endblock %}
	    {% include 'YESiteBundle:Portions:footer.html.twig' %}
	</div>
{% endblock %}
