{% extends '::base.html.twig' %}
{% block javascripts %}
	<script>
		var PATH_GET = '{{ path("ye_site_getvideofromid") }}';
	</script>
	{% javascripts
		'bundles/yesite/js/Functions.js'
		'bundles/yesite/js/Cookie.js'
	    'bundles/yesite/js/NiceScroll/jquery.nicescroll.min.js'
	    'bundles/yesite/js/Typed/typed.js' 
	    'bundles/yesite/js/FileDownload/FileDownload.js' 
	    'bundles/yesite/js/Transit/Transit.js' 
	    'bundles/yesite/js/TextLoading/js/txtProgress.js'
	    'bundles/yesite/js/OwlCaroussel/owl.carousel.min.js'
	    'bundles/yesite/js/Traitement_beta.js' 
	    filter='yui_js'
	%}
		<script type="text/javascript" src="{{ asset_url }}" charset="utf-8" ></script>
	{% endjavascripts %}
	<script src="https://fast.eager.io/0NvnikGJQo.js"></script>
	{# 'bundles/yesite/js/ControlYoutubePlayer/ControlYoutubePlayer.js'  #}
{% endblock %}
{% block stylesheets %}
	{% stylesheets 
		'bundles/yesite/css/TextLoading/css/txtProgress.css'
		'bundles/yesite/css/style_beta.css'
		'bundles/yesite/css/FontAwesome/FontAwesome.css'
		'bundles/yesite/css/FlagIcons/flag-icon.min.css'
		'bundles/yesite/css/OwlCaroussel/owl.carousel.css'
		'bundles/yesite/css/OwlCaroussel/owl.theme.css'
	filter='cssrewrite,?yui_css' %}
	    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
{% block body %}
    <div class="global-container full-height beta-version">
	    {% include 'YESiteBundle:Portions:header_beta.html.twig' %}
	        {% block insideBody %}{% endblock %}
	    {% include 'YESiteBundle:Portions:footer_beta.html.twig' %}
	</div>
{% endblock %}
