{% extends '::base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('bundles/yesite/js/Traitement.js') }}" type="text/javascript" charset="utf-8" async defer></script>
    <script src="{{ asset('bundles/yesite/js/jLabel/jLabel.js') }}" type="text/javascript" charset="utf-8" ></script>
    <script>
    	$(document).ready(function($) 
    	{ 
    		$(".jLabel").jLabel();
    	});
    </script>
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="global-container full-height logged-user">
	    {% include 'YESiteBundle:Portions:header-logged.html.twig' %}
	    {% include 'YESiteBundle:Portions:SearchForm.html.twig' %}
	    <div class="container">
	        {% block insideBody %}{% endblock %}
	    </div>
	    {% include 'YESiteBundle:Portions:footer.html.twig' %}
	</div>
{% endblock %}
