{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
<div>
	{% if object.media is defined and 'http://' in object.media and 'mzstatic' in object.media %}
   		<img src="{{ object.media }}" alt="Media">
    {% elseif object.media is defined and object.media != null %}
    	{% thumbnail object.media, 'small' %}
    {% else %}
    	<span>No picture</span>
    {% endif %}
</div>
{% endblock %}