{% extends 'YESiteBundle::layout_beta.html.twig' %}

{% block meta_title %}{{ parent() }}{% endblock %}
{% block meta_og_title %}Youtube Enhancer - Page Not Found{% endblock %}
{% block meta_description %}{{ parent() }}{% endblock %}

{% block insideBody %}
	<section class="container section-text section-terms-of-use">
		<article class="row">
			<div class="col-md-12">
				<h1 class="uppercase center large-margin-y">Oops... You have no right to be here !</h1>
				<div class="text-content center bigger-size">
					<p>Obviously, you are not allowed to access this page.</p>
					<p>Go back to the <a href="{{ path('ye_site_homepage') }}" title="Youtube Enhancer - Homepage">Homepage</a></p>
				</div>
			</div>
		</article>
	</section>
{% endblock %}