.cssload-jar-container
{
    width: 320px;
    position: absolute;
    text-align: center;
    top: calc(50% - 144px/2);
    left: 0;
    right: 0;
    margin: auto;
}
.cssload-jar {
    
    width: 190px;
    text-align: center;
    margin: auto;
    
}
.cssload-jar .cssload-mouth {
    width: 38px;
    height: 9px;
    margin: 0 auto -1px;
    border-right: 4px solid rgba(255, 255, 255, 0.6);
    border-left: 4px solid rgba(255, 255, 255, 0.6);
    border-radius: 19px;
    -o-border-radius: 19px;
    -ms-border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
}
.cssload-jar .cssload-neck {
    width: 33px;
    height: 45px;
    margin: 0 auto -5px;
    z-index: 7;
    position: relative;
    background-color: rgb(0, 0, 0);
    border-right: 4px solid rgba(255, 255, 255, 0.6);
    border-left: 4px solid rgba(255, 255, 255, 0.6);
}
.cssload-jar .cssload-bubble {
  width: 9px;
  height: 9px;
  position: absolute;
  background-color: rgb(166,115,87);
  opacity: 0.4;
  left: 87px;
  z-index: 8;
  top: 104px;
  border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
  animation: cssload-buble 2.3s linear 1.15s infinite;
    -o-animation: cssload-buble 2.3s linear 1.15s infinite;
    -ms-animation: cssload-buble 2.3s linear 1.15s infinite;
    -webkit-animation: cssload-buble 2.3s linear 1.15s infinite;
    -moz-animation: cssload-buble 2.3s linear 1.15s infinite;
}
.cssload-jar .cssload-bubble + .cssload-bubble {
  left: 83px;
  top: 114px;
  width: 14px;
  height: 14px;
  animation-duration: 3.45s;
    -o-animation-duration: 3.45s;
    -ms-animation-duration: 3.45s;
    -webkit-animation-duration: 3.45s;
    -moz-animation-duration: 3.45s;
}
.cssload-jar .cssload-base {
    margin: auto;
    width: 114px;
    height: 95px;
    border: 4px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 5;
}
.cssload-jar .cssload-base .cssload-bubble {
  left: 14px;
  top: 47px;
  animation: cssload-bounce 2.65s linear 0s infinite alternate;
    -o-animation: cssload-bounce 2.65s linear 0s infinite alternate;
    -ms-animation: cssload-bounce 2.65s linear 0s infinite alternate;
    -webkit-animation: cssload-bounce 2.65s linear 0s infinite alternate;
    -moz-animation: cssload-bounce 2.65s linear 0s infinite alternate;
}
.cssload-jar .cssload-base .cssload-bubble + .cssload-bubble {
  left: 71px;
  top: 38px;
  animation-duration: 3.45s;
    -o-animation-duration: 3.45s;
    -ms-animation-duration: 3.45s;
    -webkit-animation-duration: 3.45s;
    -moz-animation-duration: 3.45s;
}
.cssload-jar .cssload-liquid {
  height: 38px;
  background-color: rgba(153,0,0,0.98);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.cssload-jar .cssload-wave {
  width: 57px;
  height: 19px;
  position: absolute;
  background-color: rgb(153,0,0);
  left: 0;
  top: 54px;
  animation: cssload-wave 1.15s linear 1.15s infinite alternate;
    -o-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
    -ms-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
    -webkit-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
    -moz-animation: cssload-wave 1.15s linear 1.15s infinite alternate;
  border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.cssload-jar .cssload-wave + .cssload-wave {
  left: auto;
  right: 0;
}







@keyframes cssload-wave {
  from {
    transform: translateX(95px);
  }
  to {
    transform: translateX(-95px);
  }
}

@-o-keyframes cssload-wave {
  from {
    -o-transform: translateX(95px);
  }
  to {
    -o-transform: translateX(-95px);
  }
}

@-ms-keyframes cssload-wave {
  from {
    -ms-transform: translateX(95px);
  }
  to {
    -ms-transform: translateX(-95px);
  }
}

@-webkit-keyframes cssload-wave {
  from {
    -webkit-transform: translateX(95px);
  }
  to {
    -webkit-transform: translateX(-95px);
  }
}

@-moz-keyframes cssload-wave {
  from {
    -moz-transform: translateX(95px);
  }
  to {
    -moz-transform: translateX(-95px);
  }
}

@keyframes cssload-bounce {
  0% {
    transform: translate(5px, 14px);
  }
  50% {
    transform: translate(0, -14px);
  }
  100% {
    transform: translate(-5px, -35px);
    opacity: 1;
  }
}

@-o-keyframes cssload-bounce {
  0% {
    -o-transform: translate(5px, 14px);
  }
  50% {
    -o-transform: translate(0, -14px);
  }
  100% {
    -o-transform: translate(-5px, -35px);
    opacity: 1;
  }
}

@-ms-keyframes cssload-bounce {
  0% {
    -ms-transform: translate(5px, 14px);
  }
  50% {
    -ms-transform: translate(0, -14px);
  }
  100% {
    -ms-transform: translate(-5px, -35px);
    opacity: 1;
  }
}

@-webkit-keyframes cssload-bounce {
  0% {
    -webkit-transform: translate(5px, 14px);
  }
  50% {
    -webkit-transform: translate(0, -14px);
  }
  100% {
    -webkit-transform: translate(-5px, -35px);
    opacity: 1;
  }
}

@-moz-keyframes cssload-bounce {
  0% {
    -moz-transform: translate(5px, 14px);
  }
  50% {
    -moz-transform: translate(0, -14px);
  }
  100% {
    -moz-transform: translate(-5px, -35px);
    opacity: 1;
  }
}

@keyframes cssload-buble {
  0% {
    transform: translate(3px, 9px);
  }
  25% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(-3px, -24px);
  }
  75% {
    transform: translate(0, -47px);
    opacity: 1;
  }
  100% {
    transform: translate(3px, -95px);
    opacity: 0;
  }
}

@-o-keyframes cssload-buble {
  0% {
    -o-transform: translate(3px, 9px);
  }
  25% {
    -o-transform: translate(0, 0px);
  }
  50% {
    -o-transform: translate(-3px, -24px);
  }
  75% {
    -o-transform: translate(0, -47px);
    opacity: 1;
  }
  100% {
    -o-transform: translate(3px, -95px);
    opacity: 0;
  }
}

@-ms-keyframes cssload-buble {
  0% {
    -ms-transform: translate(3px, 9px);
  }
  25% {
    -ms-transform: translate(0, 0px);
  }
  50% {
    -ms-transform: translate(-3px, -24px);
  }
  75% {
    -ms-transform: translate(0, -47px);
    opacity: 1;
  }
  100% {
    -ms-transform: translate(3px, -95px);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-buble {
  0% {
    -webkit-transform: translate(3px, 9px);
  }
  25% {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(-3px, -24px);
  }
  75% {
    -webkit-transform: translate(0, -47px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(3px, -95px);
    opacity: 0;
  }
}

@-moz-keyframes cssload-buble {
  0% {
    -moz-transform: translate(3px, 9px);
  }
  25% {
    -moz-transform: translate(0, 0px);
  }
  50% {
    -moz-transform: translate(-3px, -24px);
  }
  75% {
    -moz-transform: translate(0, -47px);
    opacity: 1;
  }
  100% {
    -moz-transform: translate(3px, -95px);
    opacity: 0;
  }
}
.beta-version .btn:hover, .beta-version .btn:focus {
    color: inherit;
    text-decoration: none;
}
.btn {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 53px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 1px 1px #888;
}
.btn span.icon,
.btn span.title {
  display: block;
  position: relative;
  line-height: 46px;
  padding: 0 30px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.btn span.left {
  float: left;
  border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
}

.btn span.right {
  float: right;
  border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
}

.btn span.icon {
  font-size: 23px;
  background-color: #5e0000;
  -webkit-box-shadow: 0 3px 0 0 #007261;
  box-shadow: 0 3px 0 0 #007261;
  text-shadow: 0px 1px 1px #888;
      -webkit-border-radius: 0px;
}

.btn span.title {
  -webkit-box-shadow: 0 3px 0 0 #00ae94;
  box-shadow: 0 3px 0 0 #00ae94;
  background-color: #990000;
      -webkit-border-radius: 0;
}

.btn span.arrow-left,
.btn span.arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  -webkit-transition: all .15s;
  -transition: all .15s;
  -webkit-transition-property: left, right;
  transition-property: left, right;
}

.btn.left span.arrow-left {
  right: 0;
  -webkit-box-shadow: 10px 0 0 0 #990000, 10px 3px 0 0 #00ae94;
  box-shadow: 10px 0 0 0 #990000, 10px 3px 0 0 #00ae94;
  border-right: 10px solid #990000;
}

.btn.right span.arrow-left {
  right: 0;
  -webkit-box-shadow: 10px 0 0 0 #5e0000, 10px 3px 0 0 #007261;
  box-shadow: 10px 0 0 0 #5e0000, 10px 3px 0 0 #007261;
  border-right: 10px solid #5e0000;
}

.btn.left span.arrow-right {
  left: 0;
  -webkit-box-shadow: -10px 0 0 0 #5e0000, -10px 3px 0 0 #007261;
  box-shadow: -10px 0 0 0 #5e0000, -10px 3px 0 0 #007261;
  border-left: 10px solid #5e0000;
}

.btn.right span.arrow-right {
  left: 0;
  -webkit-box-shadow: -10px 0 0 0 #990000, -10px 3px 0 0 #00ae94;
  box-shadow: -10px 0 0 0 #990000, -10px 3px 0 0 #00ae94;
  border-left: 10px solid #990000;
}

.btn span.slant-left,
.btn span.slant-right {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 50px solid transparent;
  -webkit-transition: all .15s;
  -transition: all .15s;
  -webkit-transition-property: left, right;
  transition-property: left, right;
}

.btn.left span.slant-right {
  left: 0;
  -webkit-box-shadow: -10px 0 0 0 #5e0000, -10px 3px 0 0 #007261;
  box-shadow: -10px 0 0 0 #5e0000, -10px 3px 0 0 #007261;
  border-left: 10px solid #5e0000;
}

.btn.right span.slant-right {
  left: 0;
  -webkit-box-shadow: -10px 0 0 0 #990000, -10px 3px 0 0 #00ae94;
  box-shadow: -10px 0 0 0 #990000, -10px 3px 0 0 #00ae94;
  border-left: 10px solid #990000;
}

.btn.left span.slant-left {
  right: 0;
  -webkit-box-shadow: 10px 0 0 0 #990000, 10px 3px 0 0 #00ae94;
  box-shadow: 10px 0 0 0 #990000, 10px 3px 0 0 #00ae94;
  border-right: 10px solid #990000;
}

.btn.right span.slant-left {
  right: 0;
  -webkit-box-shadow: 10px 0 0 0 #5e0000, 10px 3px 0 0 #007261;
  box-shadow: 10px 0 0 0 #5e0000, 10px 3px 0 0 #007261;
  border-right: 10px solid #5e0000;
}

.btn:active,
.btn.active {
  height: 51px;
}

.btn:hover {}

.btn:hover span.arrow-left {
  right: 10px;
}

.btn:hover span.arrow-right {
  left: 10px;
}

.btn:hover span.slant-left {
  right: 10px;
}

.btn:hover span.slant-right {
  left: 10px;
}

.btn-small {
  height: 30px;
  font-size: 12px;
  line-height: 10px;
}

a.btn-small span.btn {
  height: 30px;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.sk-folding-cube {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #990000;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

.beta-version
{

}
  .beta-version .form-search-website-container
  {
    margin: 40px 0px;
  }
    .beta-version .form-search-website-container .form-search-website
    {
      position: relative;
      overflow: hidden;
    }
    .beta-version .form-search-website-container .typed-container
    {
      width: 100%;
        position: absolute;
        top: 0;
        color: #a67357;
        font-size: 20px;
        padding-left: 20px;
        padding-right: 70px;
        height: 100%;
        line-height: 20px;
    }
    .beta-version .form-search-website-container .form-search-website input
    {
      padding-left: 20px;
        padding-right: 70px;
    }
    .beta-version .form-search-website-container .form-search-website i
    {
      right: 20px;
      left: auto;
      cursor: pointer;
      background: url('../images/pictos/download.png') 0px 0px no-repeat;
      width: 40px;
      top: 6px;
    }
    .beta-version .form-search-website-container .typed-container .typed,
    .beta-version .form-search-website-container .typed-container .typed-cursor
    {
        height: 100%;
        line-height: 50px;
    }
    .beta-version .ajax-show-result
    {
      margin-top: 20px;
        border-top: 1px solid white;
        padding-top: 50px;
        margin-bottom: 30px;  
        opacity: 0;
        min-height: 300px;
        position: relative;
    }
    .beta-version .result-convesion
    { 
      opacity: 0; 
      position: relative;
    }
    .beta-version .video-iframe iframe
    {
      border: 1px solid white;
    }
    .beta-version .result-title
    {
        margin-bottom: 0px;
        font-size: 20px;
    }
    .beta-version .result-date-container
    {
        font-size: 13px;
      margin-bottom: 20px;
    }
    .beta-version .loader-result-ajax
    {
      position: absolute;
      z-index: 999;
      left: 0;
      right: 0;
      top: calc(50% - 80px);
    }
    .beta-version .download-block h1
    {
      text-align: center;
        font-size: 22px;
        text-transform: uppercase;
        margin: 40px 0;
        color: #a67357;
    }
        .loader-preparing-download
        {
            position: fixed;
            background: rgba(0, 0, 0, 0.8);
            z-index: 900;
            width: 100%;
            height: 100%;
            top: 0;
            opacity: 0;
            display: none;
        }
        .loader-preparing-download .title-waiting
        {
            margin-top: 30px;
            text-align: center;
            text-transform: uppercase;
        }
    .beta-version .how-it-works
    {
        background: url('../images/background-how-it-works.jpg') center center no-repeat;
        background-size: cover;
        padding: 20px 0;
        border-top: 1px solid white;
    }
    .beta-version .how-it-works h2
    {
        font-size: 24px;
        color: #a67357;  
        margin-bottom: 40px;
    }
    .beta-version .how-it-works p{ margin-bottom: 50px; }
    .beta-version .how-it-works p.last-hiw{ margin: 70px 0; }
    .beta-version .how-it-works .hiw-picto
    {
        display: block;
        width: 47px;
        height: 47px;
        background: url('../images/pictos/how-it-works.png') center center no-repeat;
        margin: 10px auto;
    }
    .beta-version .how-it-works .hiw-picto-1{ background-position: top center; }
    .beta-version .how-it-works .hiw-picto-2{ background-position: center -47px; }
    .beta-version .how-it-works .hiw-picto-3{ background-position: center -94px; }
    
