{% extends 'SonataPageBundle::base_layout.html.twig' %}

{% block sonata_page_container %}
    
           {#  {{ sonata_page_render_container('header', 'global') }}


            {% block sonata_page_breadcrumb %}

                    {% if sonata_seo_context is not defined %}
                        {% set sonata_seo_context = 'homepage' %}
                    {% endif %}
                    {{ sonata_block_render_event('breadcrumb', { 'context': sonata_seo_context, 'current_uri': app.request.requestUri }) }}

            {% endblock %} #}

          {#   {% if page is defined %}

                    {% if page.name != 'global'%}
                        {{ sonata_page_render_container('content_top', 'global') }}
                    {% endif %}
                    {{ sonata_page_render_container('content_top', page) }}

            {% endif %} #}


                {% block page_content %}
                    {% if content is defined %}
                        {{ content|raw }}
                    {% else %}
                        {% set content = block('content') %}
                        {% if content|length > 0 %}
                            {{ content|raw }}
                        {% elseif page is defined %}
                            {{ sonata_page_render_container('content', page) }}
                        {% endif %}
                    {% endif %}
                {% endblock %}

         {#    {% if page is defined %}
                    {{ sonata_page_render_container('content_bottom', page) }}

                    {% if page.name != 'global'%}
                        {{ sonata_page_render_container('content_bottom', 'global') }}
                    {% endif %}
            {% endif %}

            {{ sonata_page_render_container('footer', 'global') }} #}
{% endblock %}
